<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="testComponents.Listeners"></listener>
	</listeners>
	<test thread-count="5" name="Test">
		<classes>
			<class name="SSquareIT.Day20Framework2.E2ETest" />   <!-- alll tescases
			pass tocreate successful build in maven-->
			<!--		<class name="SSquareIT.Day20Framework2.E2ETest2" />  -->         <!-- 1 testcase
			fail to fail build in maven-->
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
